<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <config>
    <!-- Path to restore packages for legacy packages.config-->
    <add key="repositoryPath" value=".\packages" />
  </config>
<packageSources>
    <clear />
    <add 
      key="Avatar_Feed" 
      value="https://pkgs.dev.azure.com/msasg/c969282e-a598-4a0a-a285-f82e53e9dcbf/_packaging/Avatar_Feed/nuget/v3/index.json"
      protocolVersion="3" />
  </packageSources>
  <packageRestore>
    <!-- Visual Studio automatic restore during build -->
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
</configuration>